/* * { 
    border: 1px solid red; 
} */

body {
    font-family: 'BIZ UDPGothic', sans-serif;
}

#container {
    display: grid;
    width: 100%;
    min-height: 500px;
    height: auto;
    grid-template-areas: "head head head head"
                         "nav main main main"
                         "foot foot foot foot";
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
}
  
.header {
    grid-area: head;
    background-color: #8ca0ff;
}
  
.navigation {
    grid-area: nav;
    background-color: #ffa08c;
}
  
.main {
    grid-area: main;
    background-color: #ffff64;
}
  
.containerfooter {
    grid-area: foot;
    background-color: #8cffa0;
}

.tile-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 10px;
}

.tile {
    width: 300px;
    height: 200px;
    border: 1px solid rgb(0, 0, 163);
    margin: 15px;
}

.tile-standard {
    padding:0.01em 16px;
    background-color: #2196F3;
    color: white;
}

.header {
	background-image: url("stacked-peaks-haikei-top.svg");
	background-size: cover;
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 35px;
}

.subtitle{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

.containerfooter {
    background-color: #242329;
    color: white;
}

.main {
    background-color: #00cc8e;
}

.navigation {
    background-color: #00cc8e;
}

.fooooter {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: "a b c d"
                         "e e e e";
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 15px;
}

.block-1 {
    grid-area: a;
}

.block-2 {
    grid-area: b;
}

.block-3 {
    grid-area: c;
}

.block-4 {
    grid-area: d;
}

.bottom-block-1 {
    grid-area: e;
}

.smbtns {
    display: flex;
    flex-direction: row;
}

.fooooter p {
    margin: 0px;
}

.fooooter div {
    margin: 10px;
    text-align: center;
}

.fooooter div {
    color: white;
}

@media(max-width:900px) {
    #container {
        display: grid;
        width: 100%;
        min-height: 500px;
        height: auto;
        grid-template-areas: "head"
                             "nav"
                             "main"
                             "foot";
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }

    .fooooter {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-areas: "a b"
                             "c d"
                             "e e";
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
    }
  }